<% if @books.any? %>
  <table>
    <%= render partial: "books/list_table_header" %>

    <tbody>
    <% @books.each do |book| %>
      <tr>
        <%= render partial: "books/list_table_row", locals: { book: book } %>
      </tr>
    <% end%>
    </tbody>
  </table>
<% end %>
